* {
	margin:0;
	padding:0;
}	
body {
	font-family: 'Playfair Display', serif;
	background-color:rgb(41, 41, 61,0.9);
	color:#fff;
}

.container {
	height:2000px;
}
.main {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.box {
	display:flex;
	align-items:center;
	justify-content:space-between;
	width:100vh;
	padding:150px;
	font-size:30px;
	letter-spacing:1px;
}
.box p {
	text-align:center;

}
.box h2:hover {
	cursor:pointer;
}
.booking a{
	color: white;
	padding:50px;
}
.discover a{
	color: white;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}
.side-strip {
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	right: - 4em;
	transform:rotate(90deg);
	letter-spacing:4px;
}
#book {
	margin-top:50%;
	max-width: 700px;
   text-align: center;
   margin-left: auto;
   margin-right:auto;
}
a {
	text-decoration: none;
}
.heading {	
	border-bottom: 1px solid #888;
}
.controls {
	text-align:left;
	padding:15px;
}
.floatLabel {
	width:300px;
	height:30px;
	border-radius:10px;
	border: 1px solid #888;
}
#holidayOptions {
	margin-left:20px;
	margin-right:20px;
}
#destination {
}
button {
	font-family: 'Playfair Display', serif;
	margin-top: 12px;
	border:none;
	border-radius: 50px 20px;
	padding: 16px 40px;
	background: #fff;
	letter-spacing:2px;
	color:#29293d;
	text-transform:uppercase;
	font-weight:800;
	font-size:12px;
}
img {
  -webkit-filter: grayscale(100%) opacity(100%);
  filter: grayscale(70%) opacity(90%);
  transition:ease-in 0.2s;
}
img:hover {
	filter: grayscale(0%) opacity(100%);
}
#offer {
	padding-top:30px;
}
	
	
.options {
	display:flex;
}
	
.option {
	text-align:center;
}
	


.labelOrder {	
	padding-top: 50px;
	margin-right:10px;
	height: 260px;
	background-color: rgb(255,255,255,0.9);
	float: none;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #333;
}
			
#order {
}
			
#orderDescription {
	font-size: 16px;
	height: 40px;
}

#offer {
}
			
#offer form {
	background-color: #aea7b7;
	top: 20px;
}
#holidayOptions {
}
.menu {
	display:inline-block;
}
.price {
	margin-top:20px;
	padding:10px;
	text-align:center;
	color: rgb(41, 41, 61); 
	background-color:#ccc;
}		
input[type=button], input[type=reset] {
	float: right;
	margin-right:10px;

}
input[type=radio] {
	padding-right:1px;
}
.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:rgb(41, 41, 61,0.9);
	color: white;
	text-align: center;
	font-family: 'Playfair Display', serif;
}
.footer a {
	color: white;
}